<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Sistema_Restaurante</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>bienvenido.jsp</welcome-file>
    <welcome-file>bienvenidos.html</welcome-file>
    <welcome-file>vistaPreTicket.jsp</welcome-file>
    <welcome-file>vistaComandas.jsp</welcome-file>
    <welcome-file>unirMesas.jsp</welcome-file>
    <welcome-file>ControladorUnirMesas.jsp</welcome-file>
    <welcome-file>layoutMesas.jsp</welcome-file>
    <welcome-file>vistaMesasFinales.jsp</welcome-file>
    <welcome-file>terminarMesa.jsp</welcome-file>
    <welcome-file>liberarMesa.jsp</welcome-file>
    <welcome-file>vistaReporteEstadoSalon.jsp</welcome-file>
    <welcome-file>vistaHistoricoVentas.jsp</welcome-file>
    <welcome-file>vistacontrolCamarero.jsp</welcome-file>
    <welcome-file>vistaEliminarComandas.jsp</welcome-file>
    <welcome-file>vistaAgregarComanda.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class> controladores.IniciarSesion </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/Bienvenido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaPreTicket</servlet-name>
    <servlet-class>controladores.ControladorEmitirPreticket </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaPreTicket</servlet-name>
    <url-pattern>/vistaPreTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>layoutMesas</servlet-name>
    <servlet-class> controladores.ControladorTraerMesas </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>layoutMesas</servlet-name>
    <url-pattern>/layoutMesas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerComanda</servlet-name>
    <servlet-class> controladores.ControladorVerComanda </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerComanda</servlet-name>
    <url-pattern>/vistaComandas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unirMesas</servlet-name>
    <servlet-class> controladores.ControladorUnirMesas </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unirMesas</servlet-name>
    <url-pattern>/unirMesas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>traerMesasFinales</servlet-name>
    <servlet-class> controladores.ControladorTraerMesasFinales </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traerMesasFinales</servlet-name>
    <url-pattern>/vistaMesasFinales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>terminarMesas</servlet-name>
    <servlet-class> controladores.ControladorTerminarMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>terminarMesas</servlet-name>
    <url-pattern>/terminarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liberarMesa</servlet-name>
    <servlet-class> controladores.ControladorLiberarMesas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liberarMesa</servlet-name>
    <url-pattern>/liberarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaReporteEstadoSalon</servlet-name>
    <servlet-class> controladores.ControladorReporteEstadoSalon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaReporteEstadoSalon</servlet-name>
    <url-pattern>/vistaReporteEstadoSalon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaHistoricoVentas</servlet-name>
    <servlet-class> controladores.ControladorReporteVentas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaHistoricoVentas</servlet-name>
    <url-pattern>/vistaHistoricoVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaAgregarComanda</servlet-name>
    <servlet-class> controladores.ControladorAgregarComanda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaAgregarComanda</servlet-name>
    <url-pattern>/vistaAgregarComanda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaEliminarComandas</servlet-name>
    <servlet-class> controladores.ControladorEliminarComanda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaEliminarComandas</servlet-name>
    <url-pattern>/vistaEliminarComandas</url-pattern>
  </servlet-mapping>
</web-app>