<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Sistema_Restaurante</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>bienvenido.jsp</welcome-file>
    <welcome-file>bienvenidos.html</welcome-file>
    <welcome-file>controlGerente.jsp</welcome-file>
    <welcome-file>verPreTicket.jsp</welcome-file>
    <welcome-file>vistaPreTicket.jsp</welcome-file>
    <welcome-file>vistaComandas.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class> controladores.IniciarSesion </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/Bienvenido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vistaPreTicket</servlet-name>
    <servlet-class>controladores.ControladorEmitirPreticket </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vistaPreTicket</servlet-name>
    <url-pattern>/vistaPreTicket</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>layoutMesas</servlet-name>
    <servlet-class> controladores.ControladorTraerMesas </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>layoutMesas</servlet-name>
    <url-pattern>/layoutMesas</url-pattern>
  </servlet-mapping>
  
   <servlet>
 	  <servlet-name>VerComanda</servlet-name>
 	  <servlet-class > controladores.ControladorVerComanda </servlet-class >
   </servlet >
   <servlet-mapping >
 	  <servlet-name >VerComanda</servlet-name >
 	  <url-pattern >/vistaComandas</url-pattern>
   </servlet-mapping >
  
</web-app>